<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../assets/js/vue.js" type="text/javascript"></script>
</head>
<body>
    <h1>v-on 实例</h1>
    <h4>用法: v-on:事件修饰符='函数'，具体的事件修饰符可参见VueJS官网</h4>
    <hr>
    <div id="app">
        <div>分数：<span v-text="fenshu"></span></div><br/>
        <button v-on:click="jiafen">加分</button>
        <button @click="jianfen">减分</button> <!-- @click 等同于 v-on:click -->
        <hr>
        <!--按回车的事件.注意keyup和keydown的区别,可用键盘码代替enter-->
        <!--<input type="text" v-on:keydown.enter="onEnter" v-model="fenshu2"/> -->
        <!--<input type="text" v-on:keydown.13="onEnter" v-model="fenshu2"/> -->
        <p>按回车的事件</p>
        <input type="text" v-on:keyup.13="onEnter" v-model="fenshu2"/>
        <hr>
        <p><span v-text="arr"></span></p>
        <button v-on:click="addArr()">向数组中添加元素(点击鼠标时)</button>
        <button v-on:mouseover="addArr()">向数组中添加元素（鼠标经过时）</button>
        <button v-on:dblclick="addArr()">向数组中添加元素（双击鼠标时）</button>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el:'#app',
            data:{ //存储数据
                fenshu:0,
                fenshu2:0,
                arr:[12,23,55]
            },
            methods:{//存储方法
                addArr(){
                    console.log(this)//this就等于Vue实例。
                    console.log(app === this) //此处应该输出true
                    this.arr.push(100);
                },

                jiafen:function(){
                    this.fenshu++;
                },

                jianfen(){ //方法也可以简写成这样
                    if (this.fenshu>0) {
                        this.fenshu--;
                    }
                },
                /**
                 *
                 */
                onEnter:function(){
                    this.fenshu = this.fenshu + parseInt(this.fenshu2); //parseInt将字符转为int
                }
            }
        });
    </script>

</body>
</html>